.primary-btn{
    background: var(--primary);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.primary-btn:hover{
    background: var(--text-dark);
    transition: all 0.3s ease;
}
.lt-input{
    padding: 10px;
    width: 100%;
    background: var(--white);
    border-radius: 10px;
    border: 2px solid rgba(var(--primary-rgb), 0.6);
    padding-left: 1rem;
    margin-right: 0.5rem;
    flex: 1;
}
.lt-input:focus,
.lt-input:active{
    border: 2px solid rgba(var(--primary-rgb), 1) !important;
}
form{
    max-width: 450px;
    margin: 1.5rem 0;
}
.input-wrapper{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
}
.input-wrapper label{
    font-size: 0.9rem;
    color: var(--text-light-dark);
    margin-bottom: 0.5rem;
}
.form-button-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* BLOG PAGE  */
.blog-layout{
    display: flex;
    flex-wrap: wrap;
}
.blog-layout .left-side{
    max-width: 250px;
    width: 100%;
}
.blog-layout .right-side{
    flex: 1;
    max-width: 550px;
    width: 100%;
}
.blog-layout .left-side ul{
    list-style: none;
    margin: 1rem 0;
}
.blog-layout .left-side ul li{
    margin-bottom: 1rem;
}
.blog-layout .left-side ul li a {
    color: var(--text-light-dark);
    text-decoration: none;
    transition: all 0.3s ease;
}
.blog-layout .left-side ul li a:hover {
    color: var(--text-dark);
    transition: all 0.3s ease;
}

/* PROJECTS  */
.table-wrapper{
    width: 100%;
    border-radius: 6px;
    background: var(--white);
    overflow-x: auto;
    margin: 0.5rem 0;
}
table{
    width: 100%;
    background: var(--white);
    border-collapse: separate;
    border-spacing: 0px;
}
table th{
    padding: 0.3rem;
    color: var(--primary);
    background: var(--white);
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    padding-left: 16px;
    border-bottom: 1px solid rgba(var(--dark-rgb), 0.1);
}
table th:first-child,
table td:first-child{
    border-right: 1px solid rgba(var(--dark-rgb), 0.1);
}
table td{
    padding: 0.3rem;
    color: var(--text-light-dark);
    font-size: 14px;
    text-align: left;
    padding-left: 16px;
    /* border: 1px solid rgba(var(--dark-rgb), 0.1); */
}