*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--bg);
    width: 100vw;
    overflow-x: hidden;
}

.header{
    margin: 2rem 0rem;
    padding: 1.5rem 0rem;
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}
.header .links ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.dark-mode{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-mode-switch{
    font-size: 1.5rem;
    background: rgba(var(--dark-rgb), 0.05);
    padding: 3px 8px;
    border-radius: 10px;
    border: 1px solid rgba(var(--dark-rgb), 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dark-mode-switch:hover{
    background: rgba(0,0,0,0.1);
}
.header .links ul li a{
    color: var(--text-dark);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
    margin-right: 0.5rem;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 15px;
}
.header .links ul li a:hover,
.header .links ul li .active{
    transition: all 0.3s ease;
    color: var(--text-light);
    background: var(--text-dark);
}
.header .top img{
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin-bottom: 1rem;
    object-fit: contain;
}
.header .top h1{
    font-size: 2rem;
    color: var(--text-dark);
    font-weight: 600;
    line-height: 2.5rem;
}
.header .top h2{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-light-dark);
}
main .about {
    max-width: 500px;
}
.section-heading{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-dark);
}
.section-para{
    color: var(--text-dark);
    font-weight: 400;
    opacity: 0.7;
    line-height: 1.5rem;
    margin-top: 1rem;
}
main .about h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-dark);
}
main .about p{
    color: var(--text-dark);
    font-weight: 400;
    opacity: 0.7;
    line-height: 1.5rem;
    margin-top: 1rem;
}
main .outlook .expertise-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    margin-bottom: 3rem;
}
.expertise-card{
    margin: 1rem 0;
}
.expertise-icon{
    width: 60px;
    margin: 1rem 0;
    height: 60px;
    object-fit: contain;
    padding: 15px;
    background: var(--primary);
    border-radius: 16px;
}
.expertise-card h4{
    font-size: 1rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.expertise-card p{
    color: var(--text-medium);
    font-weight: 400;
    width: 90%;
}
.skills-list{
    max-width: 450px;
}
.skills-section .left p{
    max-width: 400px;
}
.skills-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    margin-bottom: 3rem;
}
.skill-graph{
    background: rgba(var(--dark-rgb), 0.1);
    padding: 13px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}
.skill-name{
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    background: #4b4747;
    padding: 1px 12px;
    border-radius: 9px;
}
.skill-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 16px;
    background: var(--primary);
}
.blog{
    position: relative;
}
.blog-item{
    padding-bottom: 0;
    max-width: 700px;
}
.blog-item .side .line{
    width: 1px;
    height: calc(100% - 23px);
    background: rgba(var(--dark-rgb), 0.2);
    margin: 0.5rem 0;
    margin-left: 6px;
}
.blog-item .dot-icon{
    width: 13px;
    height: 13px;
    background: rgba(var(--dark-rgb), 0.3);
    border-radius: 70%;
    margin-right: 1rem;
    margin-top: 4px;
}
.blog-item .left h4{
    cursor: pointer;
    transition: all 0.3s ease;
}
.blog-item .left h4:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text-dark);
}
.subscribe form{
    margin: 1rem 0;
    display: flex;
    max-width: 400px;
}
.subscribe form input{
    padding: 10px;
    background: var(--white);
    border-radius: 10px;
    border: 2px solid rgba(var(--primary-rgb), 0.6);
    padding-left: 1rem;
    margin-right: 0.5rem;
    flex: 1;
}
.subscribe form input:focus,
.subscribe form input:active{
    border: 2px solid rgba(var(--primary-rgb), 1) !important;
}
.subscribe form button{
    background: var(--primary);
    border: none;
    outline: none;
    padding: 0 1rem;
    border-radius: 10px;
    color: #fff;
}

footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    padding: 1.5rem 0;
    margin-bottom: 3rem;
}

footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
footer ul li{
    margin-right: 1rem;
}
footer ul li a{
    color: var(--text-light-dark);
    text-decoration: none;
}
footer ul li a:hover{
    color: var(--text-dark);
    text-decoration: underline;
}

.blob-one{
    opacity: 0.025;
    width: 60%;
    position: absolute;
    left: -35%;
    z-index: -1;
    top: 30%;
}

.blob-two{
    opacity: 0.025;
    width: 40%;
    position: absolute;
    right: -10%;
    z-index: -1;
    top: -15%;
}

.blob-three{
    opacity: 0.025;
    width: 50%;
    position: absolute;
    right: -10%;
    z-index: -1;
    top: 15%;
}